<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="_sUsername" value="buana_indonesia" />
    <add key="_sPassword" value="welcome@12345" />
    <add key="sUsername" value="buana_indonesia_api" />
    <add key="sPassword" value="dyd4upza" />
    <add key="sClientCode" value="buana_indonesia" /> 

    <add key="sUrlEncrypted" value="http://10.10.1.41:6969/api/encrypt" />
    <add key="sUrlDecrypted" value="http://10.10.1.41:6969/api/decrypt" />
    <add key="sUrlGetScoreInternal" value="http://10.10.1.48/TelcoScore/WsGetScore.asmx/FnGetScoreByMobilePhone" />

    <add key="sUrlToken" value="https://telkomsel-staging.trustingsocial.com/authentication/users/login" />
    <add key="sUrlGetScore" value="https://telkomsel-staging.trustingsocial.com/score_api/credit_score_requests/create/with_external_consent" />
    <add key="_sUrlToken" value="https://creditinsightapi.telkomsel.com/authentication/users/login" />
    <add key="_sUrlGetScore" value="https://creditinsightapi.telkomsel.com/score_api/credit_score_requests/create/with_external_consent" />

    <add key="ServerName" value="10.10.7.9" />
    <add key="DatabaseName" value="telcoscoredb" />
    <add key="UserID" value="sa" />
    <add key="Password" value="8uanaf!nanc3" />

    <add key="AAMServerName" value="10.10.7.9" />
    <add key="AAMDatabaseName" value="AAM" />
    <add key="AAMUserID" value="sa" />
    <add key="AAMPassword" value="8uanaf!nanc3" />

    <add key="sUserRequest" value="cbas" />


  </appSettings>
  
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
        </protocols>
      </webServices>

      <httpRuntime maxRequestLength="33554432" executionTimeout="300"/>
      
    </system.web>

<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="104857600" />
    </requestFiltering>
  </security>
  <httpErrors existingResponse="PassThrough" />
  <httpProtocol>
    <customHeaders>
      <add name="Access-Control-Allow-Origin" value="*" />
      <add name="Access-Control-Allow-Headers" value="Content-Type" />
      <add name="Access-Control-Allow-Methods" value="POST,OPTIONS" />
    </customHeaders>
  </httpProtocol>
  
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
